<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizWiz - Test Your Knowledge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/logo.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}

    <main class="md:my-20 my-10 mx-10 md:mx-28">
        <div class="p-2.5 rounded-lg catergory-border my-0 mx-auto text-center md:w-44">
            <h1 class="uppercase black text-2xl font-bold">Contact us</h1>
        </div>
        <section class="black mt-10">
            <h2 class="font-medium text-lg py-5 text-justify">Do you have questions, suggestions, or just want to get in touch, we'd love to hear from you! We value your feedback and are always looking to improve, so please don't hesitate to share any comments or suggestions about Quizwiz. Your input is essential in helping us enhance your experience.</h2>

            <div class="items-center justify-center flex flex-col">
            <form method="POST" action="/contact" class="p-8 rounded shadow-md md:w-3/5 black bg-gray-100">
                <h2 class="text-2xl font-bold mb-4 text-center">Contact Form</h2>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="w-full p-2 border rounded mb-4 focus:outline-none" required><br>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="w-full p-2 border rounded mb-4 focus:outline-none" required><br>
                
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" class="w-full p-2 border rounded mb-4 focus:outline-none" required><br>
                
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" class="w-full p-2 border rounded mb-4 focus:outline-none" required></textarea><br>
                
                <button class="w-full p-2 footer-bg font-bold text-white rounded my-3 hover:opacity-75" type="submit">Submit</button>
            </form>
            
            
        </section>
    </main>

    {% include "footer.html" %}

    <script src="../static/js/hamburger.js"></script>
</body>
</html>