
    <footer>
        <div class="footer-bg flex md:flex-row flex-col justify-around md:items-center md:px-0 px-10 py-12">
            <div class="w-36 cursor-pointer" onclick="location.href='/';">
                <img src="{{ url_for('static', filename='images/Logo footer.png') }}">
            </div>
            <div class="flex flex-col md:gap-14 gap-6 text-white font-bold text-base md:text-lg md:mt-0 mt-6">
                <a href="/leaderboard" class="footer_style">LEADERBOARD</a>
                <a href="/faq" class="footer_style">FAQ</a>
                <a href="/policy" class="footer_style">PRIVACY POLICY</a>
            </div>
            <div class="flex flex-col md:gap-14 gap-6 text-white font-bold text-base md:text-lg md:mt-0 mt-6">
                <a href="/about" class="footer_style">ABOUT US</a>
                <a href="/contact" class="footer_style">CONTACT US</a>
                <a href="/terms" class="footer_style">TERMS OF SERVICE</a>
            </div>
        </div>
        <p class="footer-color md:text-base text-sm font-medium text-center py-3.5">Copyright © 2023 Amarachi Iheakam</p>
    </footer>