<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizWiz - Test Your Knowledge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/logo.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    
    <header>
        <nav class="flex header-bg flex-row justify-around items-center py-5 my-0 md:px-0 px-8 border-b">
            <div class="cursor-pointer" onclick="location.href='/';">
                <img class="w-28" src="{{ url_for('static', filename='images/logo.png') }}">
            </div>
            <a class="hamburger md:hidden" href="#" aria-label="Toggle Menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <ul class="nav-links black hidden md:flex md:flex-row text-sm md:text-xl font-medium md:gap-16 gap-3.5 items-left md:items-center">
                <li class="nav_link nav_links cursor-pointer nav_style" id="accordion-button">CATEGORIES</li>
                <li onclick="location.href='/leaderboard';" class="nav_link nav_links cursor-pointer nav_style">LEADERBOARD</li>
                <li onclick="location.href='/faq';" class="nav_link nav_links cursor-pointer nav_style">FAQ</li>
            </ul>
            {% if current_user.is_authenticated %}
            <button onclick="location.href='/dashboard';" class="cursor-pointer header-btn-bg text-white md:py-3 py-2 px-3 md:px-5 rounded-xl md:text-lg font-medium hover:opacity-75">My Account</button>
        {% else %}
            <button onclick="location.href='/login';" class="cursor-pointer header-btn-bg text-white md:py-3 py-2 px-3 md:px-5 rounded-xl md:text-lg font-medium hover:opacity-75">Login</button>
        {% endif %}
        </nav>
    </header>
    <div id="category-list" class="accordion-content">
        <!-- Content will be dynamically added here -->
        <ul class="flex flex-wrap font-medium md:gap-4 gap-1 flex-row py-2 my-0 md:px-0 border-b footer-bg text-white items-center justify-around px-4 md:px-28">
            {% for category in categories %}
                <li class="text-grey cursor-pointer border p-px rounded-lg">
                    <a href="/quiz?category={{ category.name }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="md:max-w-2xl my-0 mx-5 md:mx-auto">
        <h1 class="text-2xl md:text-5xl text-center font-bold text-gray-900 mt-10">
            Welcome to the QuizWiz!
        </h1>
        <p class="md:text-xl text-lg text-center text-gray-600 mt-4">
            Start the Quiz Game by choosing any of the categories below. You will be given <strong>50 seconds</strong> to answer <strong>5 questions</strong>. Good Luck!
        </p>
    </div>

    <main class="md:my-20 my-10 mx-10 md:mx-28">
        
        <section class="categories flex flex-col gap-10">
            <div class="p-2.5 rounded-lg catergory-border md:w-80">
                <h2 class="text-center black font-bold uppercase text-xl md:text-2xl">Newly Published Quiz</h2>
            </div>
            {% for category in categories %}
            {% if category.name == 'Puzzle' %}
                <a class="flex flex-col gap-4 category"  href="/quiz?category={{ category.name }}">
                    <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                    <p class="font-medium black text-xl">{{ category.name }}</p>
                </a>
                {% endif %}
                {% endfor %}
        </section>
        <section class="more-categories flex flex-col gap-10 mt-10">
            <div class="p-2.5 rounded-lg catergory-border md:text-left text-center md:w-52 whitespace-nowrap">
                <h2 class="black font-bold uppercase text-xl md:text-2xl">Featured Quiz</h2>
            </div>
            <div class="flex md:flex-row flex-col gap-6 md:gap-0 justify-between">
                {% for category in categories %}
                    {% if category.name == 'Mathematics' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% elif category.name == 'Science' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="flex md:flex-row flex-col gap-6 md:gap-0 justify-between">
                {% for category in categories %}
                    {% if category.name == 'General Knowledge' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% elif category.name == 'History' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="flex md:flex-row flex-col gap-6 md:gap-0 justify-between">
                {% for category in categories %}
                    {% if category.name == 'Geography' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% elif category.name == 'Literature' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="flex md:flex-row flex-col gap-6 md:gap-0 justify-between">
                {% for category in categories %}
                    {% if category.name == 'Movies' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% elif category.name == 'Music' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="flex md:flex-row flex-col gap-6 md:gap-0 justify-between">
                {% for category in categories %}
                    {% if category.name == 'Sports' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% elif category.name == 'Food and Cuisine' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="flex md:flex-row flex-col gap-6 md:gap-0 justify-between">
                {% for category in categories %}
                    {% if category.name == 'Technology' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% elif category.name == 'Art and Culture' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="flex md:flex-row flex-col gap-6 md:gap-0 justify-between">
                {% for category in categories %}
                    {% if category.name == 'Nature and Wildlife' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% elif category.name == 'Animals' %}
                    <a class="flex flex-col gap-4 category" href="/quiz?category={{ category.name }}">
                        <img src="{{ url_for('static', filename=category.image_url) }}" alt="{{ category.name }} Image">
                        <p class="font-medium black text-xl">{{ category.name }}</p>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>

    {% include "footer.html" %}

    <script src="../static/js/hamburger.js"></script>
    <script src="../static/js/category.js"></script>
    
</body>
</html>