<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizWiz - Test Your Knowledge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/logo.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages flex items-center justify-center black cursor-pointer text-xl font-medium md:gap-16 gap-3.5
    flex-row py-2 my-0 md:px-0 border-b footer-bg text-white">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <main class="md:my-20 my-10 mx-10 md:mx-28 items-center justify-center flex flex-col">
        <form action="/login" method="POST" class="p-8 bg-white rounded shadow-md md:w-3/5 black">
            <h2 class="text-2xl font-bold mb-4 text-center">Login</h2>
            <input type="username" name="username" placeholder="Username" class="w-full p-2 border rounded mb-4 focus:outline-none">
            <input type="password" name="password" placeholder="Password" class="w-full p-2 border rounded mb-4 focus:outline-none">
            <button type="submit" class="w-full p-2 header-btn-bg font-bold text-white rounded my-3 hover:opacity-75">Login</button>
            <div class="flex gap-2 md:flex-row flex-col justify-between">
              <p>Don't have an account yet? <span onclick="location.href='/register';" class="text-blue-600 cursor-pointer">Please register</span></p>
              <a class="text-blue-600 cursor-pointer" href="/forgot_password">Forgot password?</a>
            </div>
        </form>
        
    </main>

    {% include "footer.html" %}

    <script src="../static/js/hamburger.js"></script>
</body>
</html>